@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Clase6.EF.Web.Models.JugueteViewModel

<h2>Agregar Juguete</h2>

<form asp-action="Agregar" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Precio"></label>
        <input asp-for="Precio" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>
    @* EdadRecomendada *@
    <div class="form-group">
        <label asp-for="EdadRecomendada"></label>
        <input asp-for="EdadRecomendada" class="form-control" />
        <span asp-validation-for="EdadRecomendada" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FabricanteId"></label>
        <select asp-for="FabricanteId" class="form-control" asp-items="@(new SelectList(ViewBag.Fabricantes, "Id", "Nombre"))">
            <option value="">Seleccione un fabricante</option>
        </select>
        <span asp-validation-for="FabricanteId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Categorías</label>
        <div>
            @foreach (var categoria in ViewBag.Categorias)
            {
                <div class="form-check form-check-inline">
                    <input class="form-check accept-policy" type="checkbox" name="CategoriaIds" value="@categoria.Id" />
                    <label class="form-checkaccept-policy" for="CategoriaIds">@categoria.Nombre</label>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SucursalId"></label>
        <select asp-for="SucursalId" class="form-control" asp-items="@(new SelectList(ViewBag.Sucursales, "Id", "Nombre"))">
            <option value="">Seleccione una sucursal</option>
        </select>
        <span asp-validation-for="SucursalId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

